*{
    margin:0px;
    padding:0px;
}
.header{
    width:100%;
    height:35px;
    background-color:#333;
    opacity: 0.7;
}
.word{
    float:left;
    margin-left: 210px;
    color:white;
    font-family:'微软雅黑';
    font-size:15px;
    line-height:35px;
}
.header ul {
    float:right;
    height:35px;
    margin-right:20px;
}
.header ul li {
    float: left;
    list-style: none;

}
.header ul li a{
    text-decoration: none;
    font: 15px  Microsoft YaHei ;
    color:white;
    padding: 0px 10px;
    line-height: 35px;
}
.header ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.footer{
    width:100%;
    background-color:#333;
    opacity:0.7;
    overflow: hidden;
}
.footer .footer1{
    margin: 20px 0px 10px 0px;
    text-align: center;
}
.footer1 span{
    color: #f0f0f0;
}
.footer .footer1  a{
    color: #f0f0f0;
    display: inline-block;
    margin: 15px;
    text-decoration: none;
}
.footer  a:hover{
    text-decoration: underline;
}
.footer2 ,.footer3{
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 10px;
}
.footer3 a{
    color: #f0f0f0;
    text-decoration: none;
}
