*{
    margin:0px;
    padding:0px;

}
.top{
    width:100%;
    height: 140px;
    box-shadow: 10px 10px 10px coral;
    background-color:#FAFAFA;
    margin-bottom: 40px;
}
.top-left img{
    width: 200px;
    height: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
}
.top-left .word{
    line-height: 34px;
    border-left: 2px solid #ccc;
    position: absolute;
    left: 80px;
    top:100px;
    padding-left: 20px;
    font-size: 30px;color:#666;
    font-family:"方正姚体";
}
.top-right{
    float: right;
    margin: 55px 50px 0px 0px;
}
.top-right a{
    display: inline-block;
    margin: 15px;
    text-decoration: none;
    color:black;
}
.top-right a:hover{
    color: coral;
}
.self-pho{
    width: 70px;
    height: 70px;
    border-radius:50px;
    position: absolute;
    top: 50px;
    right: 60px;
}